apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-deployment
  labels:
    app: nodejs
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nodejs
  template:
    metadata:
      labels:
        app: nodejs
    spec:
      tolerations:
      - key: "workload"
        operator: "Equal"
        value: "worker"
        effect: "NoSchedule"
      
      containers:
      - name: nodejs-pod
        image: maaryii/app-image
        ports:
        - containerPort: 3000
        envFrom:
          - configMapRef:
              name: mysql-config-map

        env:
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef: 
                name: mysql-secret
                key: DB_PASSWORD
   
        volumeMounts:
        - name: app-logs
          mountPath: /usr/src/app/logs

      volumes:
      - name: app-logs
        persistentVolumeClaim:
          claimName: pvc-logs
